
.hidden {
    display: none;
}

h2, h1 {
    color: white; 
}

.table {
    background-color: rgba(255, 255, 255, 0.8); 
    border-radius: 10px; 
}

#userForm {
    max-width: 300px; 
    margin: auto; 
    padding: 20px; 
    background-color: rgba(255, 255, 255, 0.8); 
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
}

#userData {
    text-align: center;
}